<h1> We want to inform you that your request is not approved </h1>

<p> Your request for <%= @rent_request.rent_item.item_type %> is not approved by the owner. </p>

<p> Thank you and have a great day! </p>