<p>
<ul>
    <li><%= @rent_item.item_type.capitalize %></li>
    <li><%= @rent_item.condition.capitalize %></li>
    <li><%= @rent_item.location.capitalize %></li>
    <li><%= @rent_item.for_age.capitalize %></li>
</ul>
</p>
